$def with (QUIT)

<html>
    <head>
        <title>Arithmetic Game</title>
    </head>
<body>
    <div id="error"></div>
    <div id="instructions"></div>
        <p>
            Try to answer the following questions correctly and quickly.
            Press the button to proceed and to send input from the text field.
            You can quit by typing '$(QUIT)' into the field.
        </p>
    <div id="expression"></div>
    <div id="score"></div>
    <div id="next">
        <input type="text"/>
        <button type="button"/>
    </div>
</body>
</html>
